@model Equipe
@{
    ViewData["Title"] = "CadastrarEquipe";
}

<main role="main">
    <br />
    <br />
    <section class="container" style="margin-left: 300px;">
        <aside class="col-sm-4">
            <h3 class="subtitle-doc">
                Cadastrar Equipes
            </h3>
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        @if (ViewData["MSG_S"] != null)
                        {
                            <p class="alert alert-success">@Html.Raw(ViewData["MSG_S"])</p>
                        }

                        @if (ViewData["MSG_E"] != null)
                        {
                            <p class="alert alert-danger">@Html.Raw(ViewData["MSG_E"])</p>
                        }
                        <form method="post">
                            <div class="form-group">
                                <label>Nome da Equipe</label>
                                <input asp-for="NomeEquipe" class="form-control" placeholder="ex.: Alpha">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <label>Nome do Gestor</label>
                                <input asp-for="NomeGestor" class="form-control" placeholder="Lucio Amaro">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div> <!-- code-wrap.// -->
        </aside>
    </section>
</main>

